#page_header{
    background-image: url("pictures/page headers/about.jpg");
}
section{
    padding: 10vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1{
    font-family: Agency FB;
    font-size: 75px;
    margin: 0;
}

#who_are_we{
    min-height: 60vh;
    border-bottom: 10px solid rgb(30, 200, 0);
}
#who_are_we h1{
    color: rgb(30, 200, 0);
    width: 20%;
    margin: 0 2.5%;
}
#who_are_we h2{
    width: 72.5%;
    margin-right: 2.5%;
    font-size: 50px;
    font-family: Agency FB;
    text-align: justify;
}

iframe{
    width: 100%;
    margin: 0;
    padding: 0;
}

#story{
    flex-direction: column;
    background-image: url("pictures/wallpapers/about wallpapers/story\ wallpaper.jpg");
    background-size: 250px;
}
#story h1{
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#story h2{
    font-weight: normal;
    color: white;
    width: 80%;
    text-align: justify;
    font-size: 30px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#strengths{
    flex-direction: column;
}
#strengths h1{
    color: rgb(30, 200, 0);
}
.strengths{
    margin-top: 25px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 10px;
    justify-content: center;
}
.strength{
    display: flex;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(30, 200, 0);
    aspect-ratio: 1/1;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.strength h2{
    font-family: Agency FB;
    font-size: 40px;
    text-align:center;
    width: 80%;
    margin: 0;
}
.strength h3{
    width: 80%;
    font-family: Agency FB;
    font-weight: normal;
    text-align: center;
    font-size: 32.5px;
    margin: 0;
}

@media (max-width:850px){
    #who_are_we{
        flex-direction: column;
    }
    #who_are_we h1{
        color: rgb(30, 200, 0);
        width: auto;
        margin: 0;
    }
    #who_are_we h2{
        width: 75%;
        margin: 0;
    }
    .strengths{
        width: 80%;
    }
}
@media (max-width:450px){
    section{
        padding: 5vh 0;
    }
    section h1{
        font-size: 55px;
    }
    #who_are_we{
        flex-direction: column;
        height: fit-content;
    }
    #who_are_we h1{
        width: auto;
        margin: 0;
    }
    #who_are_we h2{
        font-size: 35px;
        text-align: justify;
    }
    
    iframe{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    #story{
        flex-direction: column;
        background-image: url("pictures/wallpapers/about wallpapers/story\ wallpaper.jpg");
        background-size: 250px;
    }
    #story h1{
        color: white;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    #story h2{
        font-weight: normal;
        color: white;
        width: 80%;
        text-align: justify;
        font-size: 30px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .strengths{
        grid-template-columns: repeat(auto-fill, 275px);
    }
    .strength{
        width: 275px;
    }
    .strength h2{
        font-size: 35px;
    }
    .strength h3{
        font-size: 30px;
    }
}