/*general*/
@font-face {
    font-family: ""Agency FB"";
    src: url(fonts/agency-fb_[allfont.net].ttf);
}
body{
    margin: 0;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main{
    overflow: hidden;
}
/*----------------------------------------------------------------------------------------------------------*/

/*nav*/
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 100;
}
.scrolled_nav{
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}
nav h1{
    margin-left: 10px;
    font-family: "Agency FB";
    font-size: 35px;
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.scrolled_nav h1{
    color: rgb(30, 200, 0);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0);
}
.nav_link{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    padding: 3px 5px;
    border-radius: 2px;
    transition: 0.25s;
}
.scrolled_nav .nav_link{
    color: rgb(30, 200, 0);
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
}
.scrolled_nav .nav_link:hover{
    color: white;
}
.nav_link:hover{
    background-color: rgba(30, 255, 0, 0.75);
}
#current_page{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    background-color: rgb(30, 200, 0);
    padding: 3px 5px;
    border-radius: 2px;
}
#nav_reservation{
    color: rgb(30, 200, 0);
    border: 3px solid rgb(30, 200, 0);
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 3px 7.5px;
    transition: 0.4s;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}
#nav_reservation:hover{
    color: white;
    background-color: rgb(30, 200, 0);
}
.scrolled_nav #nav_reservation{
    text-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
#mobile_nav{
    display: none;
}
nav p{
    display: none;
}
/*----------------------------------------------------------------------------------------------------------*/

/*footer*/
footer{
    box-shadow: 0 0 10px black;
    min-height: 80vh;
    padding: 15vh 0 5vh;
    background-image: url("pictures/wallpapers/ordinary wallpaper/ordinary\ wallpaper\ -\ green.jpg");
    background-size: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#footer_sections{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 80%;
    border-bottom: 5px white solid;
}
#footer_logo{
    width: 20%;
    height: 100%;
}
#footer_logo h1{
    font-family: "Agency FB";
    font-size: 75px;
    color: white;
    margin: 0 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}
#footer_logo h2{
    font-size: 40px;
    font-family: "Agency FB";
    color: white;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.250);
}
.footer_section{
    height: 100%;
    margin: 0 10px;
}
.footer_section h1{
    font-family: "Agency FB";
    font-size: 50px;
    color: white;
    margin: 0 0 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}
.openning_hour{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.openning_hour p{
    margin: 7px 0;
    font-size: 20px;
}
.openning_day{
    font-weight: bold;
}
#openning_hours hr{
    color: white;
    height: 2.5px;
    background-color: white;
    border: 0;
    margin: 0;
}

#sitemap_links{
    display: flex;
    flex-direction: column;
}
.sitemap_link{
    text-decoration: none;
    color: white;
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 30px;
    padding: 1px 7.5px;
    margin-top: 7.5px;
    width: fit-content;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    transition: 0.25s;
}
.sitemap_link:hover{
    background-color: white;
    color: rgb(30, 200, 0);    
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    border-radius: 2.5px;
}
#current_sitemap_page{
    margin-top: 7.5px;
    text-decoration: none;
    background-color: white;
    color: rgb(30, 200, 0);    
    text-shadow: 0 0 0px rgba(0, 0, 0, 0.25);
    border-radius: 2.5px;
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 30px;
    padding: 1px 7.5px;
    width: fit-content;
}
#sitemap_reservation{
    margin-top: 10px;
    text-decoration: none;
    color: white;
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px white solid;
    padding: 0px 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.25s;
}
#sitemap_reservation:hover{
    background-color: white;
    text-shadow: 0 0 0;
    color:rgb(30, 200, 0);
}

#footer_bottom{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
#footer_bottom p{
    color: white;
    margin: 0;
    font-family: "Agency FB";
    font-size: 25px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
#footer_socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
#footer_socials a{
    margin: 0 5px;
}
#footer_socials img{
    height: 35px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
/*----------------------------------------------------------------------------------------------------------*/

/*page headers*/
#page_header{
    aspect-ratio: 7/1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(30, 200, 0);
    background-size: cover;
    background-position-x: 50%;
    background-position-y: 50%;
    border-bottom: 10px solid rgb(30, 200, 0);
}
#page_header h1{
    position: absolute;
    color: white;
    font-size: 60px;
    text-shadow: 0 0 10px black;
    font-family: "Agency FB";
}
/*----------------------------------------------------------------------------------------------------------*/

@media (max-width:850px){
    /*page headers*/
    #page_header{
        aspect-ratio: 3/1;
    }
    #page_header h1{
        font-size: 100px;
    }
    /*----------------------------------------------------------------------------------------------------------*/
    
    /*footer*/
    footer{
        min-height: auto;
        padding: 10vh 0;
    }
    #footer_sections{
        width: 90%;
    }
    #footer_logo{
        width: 30%;
    }
    .footer_section{
        height: 100%;
        margin: 0 10px;
        min-width: 25%;
    }
    #footer_bottom{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    /*----------------------------------------------------------------------------------------------------------*/    
}
@media (max-width:700px){
    /*footer*/
    #footer_sections{
        flex-direction: column;
        height: fit-content;
        width: 75%;
    }
    #footer_logo{
        width: 100%;
        height: auto;
        text-align: center;
        border-bottom: 3px white solid;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer_logo h1{
        font-size: 75px;
        color: white;
        margin: 0px;
    }
    #footer_logo h2{
        width: 90%;
        font-size: 55px;
    }
    .footer_section{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_section h1{
        font-size: 65px;
    }
    .openning_hour p{
        font-size: 30px;
    }
    #sitemap{
        border-bottom: 3px solid white;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #sitemap_links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer_bottom{
        width: 75%;
        flex-direction: column;
    }
    #footer_bottom p{
        text-align: center;
        font-size: 30px;
    }
    /*----------------------------------------------------------------------------------------------------------*/  
}
@media (max-width:450px){
    /*nav*/
    nav h1{
        font-size: 32.5px;
    }
    nav p{
        display: block;
        color: white;
        font-weight: bold;
        font-size: 45px;
        margin: 0 10px 0 0;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    .scrolled_nav p{
        color: rgb(30, 200, 0);
        text-shadow: 0 0 0;
    }
    #nav_pc_links{
        display: none;
    }
    #mobile_nav{
        position: fixed;
        width: 100%;
        height: 100%;
        background-image: url("pictures/wallpapers/ordinary wallpaper/ordinary\ wallpaper\ -\ green.jpg");
        background-size: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 99;
        opacity: 0;
        pointer-events: none;
        transition: 0.5s;
    }
    #current_page_mobile{
        text-decoration: none;
        color: rgb(30, 200, 0);
        font-size: 35px;
        background-color: white;
        padding: 3px 10px;
        border-radius: 3px;
        margin: 5px 0;
    }
    .nav_link_mobile{
        text-decoration: none;
        color: white;
        text-shadow: 0 0 7.5px rgba(0, 0, 0, 0.25);
        font-size: 35px;
        padding: 3px 10px;
        border-radius: 3px;
        transition: 0.25s;
        margin: 5px 0;
    }
    .nav_link_mobile:hover{
        text-decoration: none;
        color: rgb(30, 200, 0);
        font-size: 35px;
        background-color: white;
        padding: 3px 10px;
        border-radius: 3px;
    }
    #nav_reservation_mobile{
        color: white;
        text-decoration: none;
        font-family: "Agency FB";
        font-weight: bold;
        font-size: 35px;
        padding: 3px 10px;
        border-radius: 7.5px;
        border: 3px white solid;
        transition: 0.25s;
    }
    #nav_reservation_mobile:hover{
        color: rgb(30, 200, 0);
        background-color: white;
    }
    /*----------------------------------------------------------------------------------------------------------*/  

    /*footer*/
    #footer_sections{
        flex-direction: column;
        height: fit-content;
        width: 90%;
    }
    #footer_logo{
        width: 100%;
        height: auto;
        text-align: center;
        border-bottom: 3px white solid;
        padding-bottom: 15px;
    }
    #footer_logo h1{
        font-size: 60px;
        color: white;
        margin: 0px;
    }
    .footer_section{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer_section h1{
        font-size: 50px;
    }
    .openning_hour p{
        font-size: 22.5px;
    }
    #sitemap{
        border-bottom: 3px solid white;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #sitemap_links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer_bottom{
        width: 90%;
        flex-direction: column;
    }
    #footer_bottom p{
        text-align: center;
        font-size: 22.5px;
    }
    /*----------------------------------------------------------------------------------------------------------*/  

    /*page headers*/
    #page_header{
        aspect-ratio: 2/1;
    }
    #page_header h1{
        color: white;
        font-size: 50px;
    }
    /*----------------------------------------------------------------------------------------------------------*/
}