/*general*/
section{
    padding: 15vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section h1{
    font-family: "Agency FB";
    font-size: 75px;
    margin: 0;
}
/*----------------------------------------------------------------------------------------------------------*/

/*reservation invite*/
#reservation_invite{
    width: 100vw;
    height: 100vh;
    background-image: url("pictures/wallpapers/welcome\ wallpaper/welcome wallpaper.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#reservation_invite h1{
    margin: 0;
    font-family: "Agency FB";
    font-size: 75px;
    color: white;
    text-shadow: 0 0 10px black;
}
#reservation_invite h2{
    margin: 10px 0;
    font-family: "Agency FB";
    font-size: 40px;
    font-weight: normal;
    color: white;
    text-shadow: 0 0 10px black;
}
#reservation_invite a{
    text-decoration: none;
    color: rgb(30, 200, 0);
    font-weight: bold;
    font-size: 30px;
    border: 3px solid rgb(30, 200, 0);
    box-shadow: 0 0 10px black;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.50);
    padding: 5px 15px;
    border-radius: 5px;
    backdrop-filter: blur(3px);
    transition: 0.5s;
}
#reservation_invite a:hover{
    background-color: rgb(30, 200, 0);
    color: white;
}
/*----------------------------------------------------------------------------------------------------------*/

/*identity*/
#identity{
    background-image: url("pictures/wallpapers/ordinary wallpaper/ordinary\ wallpaper\ -\ green.jpg");
    background-size: 250px;
}
#identity h1{
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}
#identity h2{
    color: white;
    font-weight: normal;
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    text-align: center;
    width: 80%;
    margin: 15px 0;
}
#identity a{
    color: white;
    text-decoration: none;
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 35px;
    padding: 5px 15px;
    border: 5px solid white;
    transition: 0.25s;
    border-radius: 7px;
}
#identity a:hover{
    color: rgb(30, 200, 0);
    background-color: white;
}
/*----------------------------------------------------------------------------------------------------------*/

/*menu*/
#menu h1{
    color: rgb(30, 200, 0);
}
#menu_categories{
    display: grid;
    width: 90%;
    grid-template-columns: repeat(auto-fill, 325px);
    grid-gap: 7.5px;
    justify-content: center;
    margin-top: 30px;
}
.menu_category{
    aspect-ratio: 1/1;
    width: 325px;
    height: 325px;
    background-color: rgb(30, 200, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.menu_category_banner{
    width: 100%;
    height: 100%;
    background-color: rgb(30, 200, 0);
}
.menu_category_info{
    aspect-ratio: inherit;
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.50);
    margin-top: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1.0);
    transition: 0.5s;
}
.menu_category_info:hover{
    transform: scale(1.1);
}
.menu_category_title{
    font-family: "Agency FB";
    color: white;
    font-weight: bold;
    font-size: 65px;
    margin: 0;
    width: 90%;
    text-align: center;
    text-shadow: 0 0 10px black;
}
.menu_category_icon{
    width: 180px;
    filter: drop-shadow(0 0 10px black);
}
#mobile_comments_slider{
    display: none;
}
/*----------------------------------------------------------------------------------------------------------*/

/*staff*/
#staff{
    background-image: url("pictures/wallpapers/chef wallpaper/chef\ wallpaper.jpg");
    background-size: 250px;
}
#staff h1{
    color: white;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
}
#staff h2{
    color: white;
    font-weight: normal;
    width: 80%;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.50);
    font-size: 35px;
    margin: 10px 0 30px;
}
#staff_members{
    display: grid;
    width: 76.95%;
    grid-template-columns: repeat(auto-fill, 275px);
    grid-gap: 20px;
    justify-content: center;
}
.staff_member{
    aspect-ratio: 1/1;
    width: 275px;
    border-radius: 1000px;
    border: 2.5px rgb(30, 200, 0) solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px black;
}
.staff_member_profile{
    aspect-ratio: inherit;
    height: inherit;
    width: inherit;
    border-radius: inherit;
    background-color: red;
}
.staff_member_info{
    aspect-ratio: inherit;
    height: inherit;
    width: inherit;
    background-color: rgba(0, 0, 0, 0.50);
    border-radius: inherit;
    margin-top: -100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    opacity: 0;
    transform: scale(0.9);
    filter: blur(1.5px);
}
.staff_member_info:hover{
    opacity: 1;
    transform: scale(1.0);
    filter: blur(0px);
}
.staff_member_name{
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-shadow: 0 0 10px black;
    margin: 0 0 5px;
}
.staff_member_position{
    font-family: "Agency FB";
    font-weight: normal;
    font-size: 30px;
    color: white;
    text-shadow: 0 0 10px black;
    margin: 0;
}
.staff_member_info hr{
    width: 60%;
    color: white;
    margin: 5px 0 15px;
}
.staff_member_socials{
    display: flex;
}
.staff_member_socials a{
    margin: 0 5px;
}
.staff_member_socials img{
    height: 40px;
}
/*----------------------------------------------------------------------------------------------------------*/

/*comments*/
#comments h1{
    color: rgb(30, 200, 0);    
}

#comments_slider_holder{
    display: flex;
    justify-content: center;
    align-items: center;
}
#comments_slider{
    width: 780px;
    overflow: hidden;
}
.slider_nav{
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
    height: 60px;
    margin: 0 10px;
}
#comments_holder{
    width: 1950px;
    margin-top: 25px;
    display: flex;
    transition: 1s;
}
.comment_card{
    aspect-ratio: 3/2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border: 3px solid rgb(30, 200, 0);
    width: 380px;
    margin: 0 5px;
    padding: 10px;
    border-radius: 7.5px;
}
.comment_card_header{
    display: flex;
    align-items: center;
}
.comment_card_header p{
    font-size: 40px;
    font-family: "Agency FB";
    font-weight: bold;
    margin: 0 0 0 15px;
}
.comment_card img{
    aspect-ratio: 1/1;
    width: 100px;
    border: 2px solid rgb(30, 200, 0);
    border-radius: 1000px;
}
.comment_card_content{
    font-size: 22.5px;
    text-align: justify;
    margin: 10px 0 0 0;
}
/*----------------------------------------------------------------------------------------------------------*/

@media (max-width:850px){
    section{
        padding: 10vh 0;
    }

    /*staff*/
    #staff h2{
        width: 90%;
    }
    #staff_members{
        width: 100%;
        grid-template-columns: repeat(auto-fill, 225px);
    }
    .staff_member{
        aspect-ratio: 1/1;
        width: 225px;
    }
    /*----------------------------------------------------------------------------------------------------------*/

    /*menu*/
    #menu_categories{
        width: 100%;
        grid-template-columns: repeat(auto-fill, 235px);
    }
    .menu_category{
        width: 235px;
        height: 235px;
    }
    .menu_category_title{
        font-size: 50px;
    }
    .menu_category_icon{
        width: 125px;
    }
    /*----------------------------------------------------------------------------------------------------------*/

    /*comments*/
    #comments_slider{
        width: 390px;
    }
    /*----------------------------------------------------------------------------------------------------------*/
}
@media (max-width:450px){
    section{
        padding: 10vh 0;
    }
    section h1{
        font-size: 50px;
        text-align: center;
        width: 90%;
    }

    /*reservation invite*/
    #reservation_invite h1{
        font-size: 60px;
    }
    #reservation_invite h2{
        width: 90%;
        text-align: center;
        font-size: 40px;
    }
    /*----------------------------------------------------------------------------------------------------------*/
    
    /*identity*/
    #identity h2{
        font-size: 35px;
    }
    /*----------------------------------------------------------------------------------------------------------*/
    
    /*menu*/
    #menu_categories{
        grid-template-columns: repeat(auto-fill, 290px);
        width: 75%;
    }
    .menu_category{
        width: 290px;
        height: 290px;
    }
    /*----------------------------------------------------------------------------------------------------------*/
    #staff_members{
        grid-template-columns: repeat(auto-fill, 280px);
    }
    .staff_member{
        width: 280px;
    }
    .staff_member_name{
        font-size: 32.5px;
    }
    .staff_member_position{
        font-size: 27.5px;
    }

    /*comments*/
    #comments_slider_holder{
        display: none;
    }
    #mobile_comments_slider_holder{
        margin-top: 25px;
    }
    #mobile_comments_slider{
        width: 335px;
        display: flex;
        overflow: hidden;
    }
    #mobile_comments_holder{
        display: flex;
        width: 500%;
        transition: 1s;
    }
    .mobile_comment_card{
        border: 3px solid rgb(30, 200, 0);
        aspect-ratio: 1/1;
        border-radius: 10px;
        width: 330px;
        padding: 10px;
        margin: 0 5px;
    }
    .mobile_comment_card_header{
        display: flex;
        align-items: center;
    }
    .mobile_comment_card_header img{
        width: 35%;
        aspect-ratio: 1/1;
        border-radius: 1000px;
        border: 3px solid rgb(30, 200, 0);
    }
    .mobile_comment_card_header p{
        width: 65%;
        font-size: 35px;
        font-weight: bold;
        font-family: "Agency FB";
        margin: 0 0 0 10px;
    }
    .mobile_comment_card_content{
        text-align: justify;
        font-size: 23px;
        margin: 0;
    }
    #mobile_comments_slider_nav{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 35px;
    }
    .mobile_slider_nav{
        height: 18px;
        width: 18px;
        aspect-ratio: 1/1;
        border: 3px solid rgb(30, 200, 0);
        border-radius: 1000px;
        margin: 0 3px;
    }
    .selected_mnv{
        background-color: rgb(30, 200, 0);
    }
    /*----------------------------------------------------------------------------------------------------------*/
}