/*fade in*/
.fade_in_passive{
    opacity: 0;
    filter: blur(1.5px);
    transition: 0.5s;
}
.fade_in_active{
    opacity: 1;
    filter: blur(0);
}
/*-----------------------------------------------------------------------------------------------------*/

/*slide up*/
.slide_up_passive{
    transform: translateY(50px);
    opacity: 0;
    filter: blur(1.5px);
    transition: 0.5s;
}
.slide_up_active{
    transform: translateY(0);
    opacity: 1;
    filter: blur(0px);
}
/*-----------------------------------------------------------------------------------------------------*/