/*general*/
@font-face {
    font-family: "Source sans";
    src: url(fonts/SourceSansPro-Regular.otf);
}
*{
    font-family: "Source sans";
}
body{
    margin: 0;
    background-color: rgb(25, 20, 20);
}
h2{
    color: white;
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 15px;
    text-shadow: 0 0 10px black;
}
h3{
    color: white;
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    text-shadow: 0 0 10px black;
}
h5{
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    text-shadow: 0 0 10px black;
}
/*-----------------------------------------------------------------------*/

/*nav*/
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px 0;
    background-color: rgb(25, 20, 20);
    z-index: 100;
}
nav a{
    font-size: 20px;
    padding: 2px 20px;
    border-radius: 1000px;
    margin: 0 10px;
    text-decoration: none;
}
.nav_page{
    color: white;
}
.nav_page:hover{
    background-color: rgba(255, 255, 255, 0.125);
    transition: 0.25s;
}
.current_nav_page{
    color: black;
    background-color: white;
    font-weight: bold;
}
/*-----------------------------------------------------------------------*/