/*origin*/
#origin{
    aspect-ratio: 2/1;
    width: 100%;
    display: flex;
    margin: 0;
    overflow: hidden;
}
#origin_text{
    aspect-ratio: 1/1;
    width: 50%;
    background-color: rgb(0, 3, 41);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#origin_text p{
    color: white;
    font-size: 35px;
    margin: 5px 0;
    width: 80%;
}
#origin_text_title{
    text-align: center;
    font-weight: bold;
}
#origin_text_text{
    text-align: justify;
}
#origin_picture{
    aspect-ratio: 1/1;
    width: 50%;
    background-image: url(pictures/random/about_wallpaper.jpg);
}
/*--------------------------------------------------------------------------------*/

/*contact*/
#contact{
    aspect-ratio: 2/1;
    background-color: #f0f0f0;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact_title{
    font-weight: bold;
    font-size: 35px;
    margin: 0 0 20px;
}
#contact_content{
    display: flex;
}
#contact_socials, #contact_numbers{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 400px;
    width: 400px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
}
.social{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 80%;
    margin: 5px 0;
    text-decoration: none;
    transition: 0.5s;
}
.social:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.social img{
    height: 40px;
}
.social p{
    color: black;
    font-size: 25px;
    margin-left: 15px;
    transform: rotateX('angle');
}
.number, .email{
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    width: 80%;
    margin: 5px 0;
    text-decoration: none;
    transition: 0.5s;
}
.number:hover, .email:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}
.number img, .email img{
    height: 40px;
}
.number p, .email p{
    color: black;
    font-size: 25px;
    margin-left: 15px;
}
/*--------------------------------------------------------------------------------*/

/*arguments*/
#arguments{
    margin-top: 20px;
    padding: 50px 0;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.argument{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
}
.argument img{
    height: 60px;
}
.argument p{
    font-size: 22.5px;
    text-align: center;
    margin: 5px 0 0;
}
/*--------------------------------------------------------------------------------*/