h1{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin: 0 0 30px;
}
#articles{
    margin: 0 auto;
    width: 92.5%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 325px);
    grid-gap: 30px;
    justify-content: center;
}
.article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 325px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
    border: 1px rgb(223, 223, 223) solid;
    text-decoration: none;
    color: black;
    transition: 0.5s;
}
.article:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}
.article_banner{
    width: inherit;
    aspect-ratio: 16/9;
}
.article_content{
    aspect-ratio: 4/3;
    width: inherit;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article_text{
    width: 85%;
    height: 75%;
}
.article_content p{
    width: 100%;
}
.article_date{
    font-size: 15px;
    margin: 15px 0 15px;
}
.article_title{
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 5px;
}
.article_description{
    font-size: 20px;
    margin: 0;
}
.article_content hr{
    width: 90%;
    background-color: rgb(187, 187, 187);
    height: 1px;
    border: 0;
}
.article_counters{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
}
.comments_counter, .like_counter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.comments_counter p, .like_counter p{
    margin: 0 2.5px 0 0;
    font-size: 20px;
}
.comments_counter img{
    aspect-ratio: 1/1;
    width: 25px;
    height: 25px;
}
.like_icons_holder{
    width: 25px;
    height: 25px;
    min-width: 25px;
    overflow: hidden;
}
.like_icons{
    width: 200%;
    display: flex;
}
.like_icons_holder img{
    aspect-ratio: 1/1;
    width: 50%;
}