*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
}
main{
    height: 100%;
    width: 100%;
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
}
#sign_up_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
#sign_up_form h1{
    font-size: 40px;
    margin: 0 0 15px;
}
.text_box{
    width: 300px;
    height: 30px;
    background-color: #e2e2e2;
    margin: 3px 0;
    box-shadow: 0 0 2.5px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
}
#sign_up_form button{
    width: 305px;
    height: 35px;
    background-color: black;
    color: white;
    border: 1px solid black;
    margin: 3px 0;
}
.question{
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
}
.question input{
    height: 15px;
    width: 15px;
    aspect-ratio: 1/1;
    margin: 0 15px 0 0px;
}
.question p{
    font-size: 13px;
    margin: 0;
}
#return_links{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
#return_links a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 0 10px;
}